body{
  background:	#282b30;
}

/* Copied and modified css from: https://jsfiddle.net/3tz5oLy0/3/ */

[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}

[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.3s;
}

[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #000;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}



.error-message-red{
position: fixed;
background-color: rgb(211, 73, 73);
width: 100%;
left: 0%;
top: 0%;
padding: 0em 1.25em 0em 1.25em;
font-weight: bolder;
display: flex;
flex-wrap: nowrap;
animation-delay: 2.8s;
animation-duration: 0.3s;
animation-name: fadeOut;
z-index: 1000;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }  
}

.open-sidebar {
  transform: translateX(0);
}

.closed-sidebar {
  transform: translateX(-105%);
}

.closed-msg-header{
  transition: width 0.3s ease-in-out;
  width: 100%;
}
.open-msg-header{
  transition: width 0.3s ease-in-out;
  width: 84%;
}

.open-chat {
  margin-left: 16% !important;
  transition: margin-left 0.3s ease-in-out !important;
}

.closed-chat {
  transition: margin-left 0.3s ease-in-out !important;
  margin-left: 0% !important; 
}

.container {
  background: 	#282b30;
  display: flex;
  justify-content: left;
  height: 100vh;
  font-family: Arial, sans-serif;
  width: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1000;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.login{

  width: 50%;
  margin: auto;
  padding: 3%;
  border-radius: 2em;
  box-sizing: border-box;
  background-color: #36393e;
}

.button-login{
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.button-register{
  background-color: #0483aa;
  padding: 14px;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
}

.add-user-container{
  display: inline;
  bottom:0;
  position: fixed;
  width: 100%;
}

.input-container {
  position: fixed;
  bottom: -6px;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  background-color: #36393e;
  height: 3em;
  max-height: 3em;
}

.message-container {
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  flex-direction: column-reverse;
}

/* Hide scrollbar for Chrome, Safari and Opera */
 ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.form-button-user-add{
  height: 3em;
  max-height: 3em;
  width: 35%;
  text-align: center;
  border-radius: 10%;
  background-color: #7289da;
}
.form-button-user-add:hover{
  background-color: hsl(227, 58%, 60%);
  cursor: pointer;
}

.form-input-user-add {
  max-height: 3em;
  height: 3em;
  width: 64%;
  border-radius: 10%;
  border-width: 0.0em;
  background: 	#424549;
}
.form-input {
  padding: 1em 0em 1em 1em;
  width: calc(100% - 1em);
  border-radius: 0.5em;
  border-width: 0cap;
  border-color: 	#424549;
  background: 	#424549;
  margin-top: 2em;
}
.form-input-register{
  padding: 1em 0em 1em 1em;
  width: calc(100% - 1em);
  border-radius: 0.5em;
  border-width: 0cap;
  border-color: 	#424549;
  background: 	#424549;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-button{
  padding-bottom: 8px;
  padding-top: 8px;
  width: 35%;
  text-align: center;
  background-color: #7289da;
}
form{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.form-login{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}


.send-textbox {
  width: 100%;
  padding-left: 10px;
  padding: 1em 0em;
  border: 1px solid #484b51;
  border-radius: 5px;
  background-color: #202225;
  color: #fff;
}
.send-button{
  border-radius: 10%;
  background-color: #7289da;
  max-width: 3em;
}
.send-button:hover{
  background-color: hsl(227, 58%, 60%);
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .open-chat {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 60% !important;
  }
  .closed-chat {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0% !important;
  }
  .message-list {
    padding: 0.3em 0.3em 0.3em 0.3em !important;
  }
  .sidebar {
    width: 60% !important;
  }
  .send-textbox {
    flex: 1;
    background-color: #202225;
    color: #fff;
  }
  .send-button {
    background-color: #7289da;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
  }
  .login{
    width: 90% !important;
  }
  .message-container{
    transition: width 0.3s ease-in-out;
    transition: margin-right 0.3s ease-in-out;
  }
}
.msg-header {
  height: auto;
  border-bottom: none;
  display: inline-block;
  background-color: 	#36393e;
  position: fixed;
  width: 100%;
  height: 4em;
  max-height: 4em;
  border-bottom: solid 0.1em #212529;

}

.form-button-green {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

.form-button-red {
  padding: 8px 16px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

.ReactModal__Overlay--after-open{
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.form-button:hover {
  background-color: #45a049;
}

.adding-user{
  width: auto;
  margin-top: auto;
}

h2 {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.register-form {
  font-family: Arial, sans-serif;
  margin: auto;
  margin-top: auto;
  background-color: #36393e !important;
  border-radius: 8px;
  width: 50%;
  margin-top: 20%;
  height: 50%;
  padding: 2%;
  z-index: 0;
}

.register-form h2 {
  margin-bottom: 20px;
}

.chat-container {
  display: flex;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space:nowrap;
  width: 16%;
  background-color: #36393e;
  transition: transform 0.3s ease-in-out;
  height: calc(100% - 4em);
  margin-top: 4em;
  position: fixed;
  border-right: solid 0.1em #212529;
}

.user-list {
  font-size: 1em;  
  list-style: none;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.user-item {
  padding: 1em 0.3em 1em 0.3em;
  display: flex;
  justify-content: space-between;
  cursor:auto;
  font-weight: 100;
}
.user-item:hover{
  background-color: 	#424549;
}

.message-list {
  list-style: none;
  padding: 1em 0.3em 0em 0.3em;
  height: -webkit-fill-available;
  margin: 4em 0% 1% 0%;
  overflow-y: scroll;
}

.message-item {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  word-break: break-word;
  max-width: 100%;
}

.message-content {
  padding: 10px 15px;
  border-radius: 10px;
  word-wrap: break-word;
}

.self-message {
  margin-left: auto;
}

.self-public-message {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.other-public-message {
  color: #212529;
  background-color: #ccc;
  border-color: #ccc;
}

.self-private-message {
  background-color: #610b66;
  color: white;
}

.other-private-message {
  background-color: #b999d9;
}

